In [50]:
import csv

import pandas as pd

import os

#Reading in school csv
school_csv = 'schools_complete.csv'

df_schools = pd.read_csv(school_csv, sep=',')

df_schools

    School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [51]:
#Reading in students csv
students_csv = 'students_complete.csv'

df_students = pd.read_csv(students_csv, sep=',')

df_students.head(20)

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80

In [52]:
#x = df_students.groupby(['school'])['name'].count()
#x

In [53]:
#District Summary
#Create a high level snapshot (in table form) of the district's key metrics, including: 
#Total Schools
total_schools = df_schools["name"].count()
print(total_schools)

#Total Students
total_students = df_students["name"].count()
print(total_students)

#Total Budget
total_budget = df_schools["budget"].sum()
print(total_budget)

#Average Math Score
avg_math_score = df_students["math_score"].mean()
print(avg_math_score)

#Average Reading Score
avg_reading_score = df_students["reading_score"].mean()
print(avg_reading_score)


#% Passing Math
pass_math = df_students.loc[(df_students["math_score"] >= 70)]
count_pass_math = pass_math["math_score"].count()
print(count_pass_math)
pass_math_percent = (count_pass_math/total_students)*100
print(pass_math_percent)


#% Passing Reading
pass_reading = df_students.loc[(df_students["reading_score"] >= 70)]
count_pass_reading = pass_reading["reading_score"].count()
print(count_pass_reading)
pass_reading_percent = (count_pass_reading/total_students)*100
print(pass_reading_percent)

#Overall Passing Rate (Average of the above two)

overall_pass = (pass_math_percent + pass_reading_percent)/2
print(overall_pass)

15
39170
24649428
78.98537145774827
81.87784018381414
29370
74.9808526933878
33610
85.80546336482001
80.39315802910392

In [54]:
# Create DataFrames
district_summary = {
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [pass_math_percent],
    "% Passing Reading": [pass_reading_percent],
    "% Overall Passing Rate": [overall_pass]
}


district_summary = pd.DataFrame(district_summary, columns=["Total Schools", "Total Students", "Total Budget", 
                                                           "Average Math Score", "Average Reading Score",
                                                           "% Passing Math", "% Passing Reading",
                                                           "% Overall Passing Rate"])
print("District Summary")
district_summary

District Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [55]:
#Before mergining, we must change the column names so they're relevant to each other

df_schools_renamed = df_schools.rename(columns={'name': 'School Name', 'type': 'School Type', 
                                                'budget': 'Total School Budget',
                                                'size' : 'Total Students'})
df_students_renamed = df_students.rename(columns={'school': 'School Name'})

In [56]:
df_students_renamed.groupby(['School Name']).count()

df_schools_renamed

,School ID,School Name,School Type,Total Students,Total School Budget
0,0,Huang High School,District,2917,1910635
1,1,Figueroa High School,District,2949,1884411
2,2,Shelton High School,Charter,1761,1056600
3,3,Hernandez High School,District,4635,3022020
4,4,Griffin High School,Charter,1468,917500
5,5,Wilson High School,Charter,2283,1319574
6,6,Cabrera High School,Charter,1858,1081356
7,7,Bailey High School,District,4976,3124928
8,8,Holden High School,Charter,427,248087
9,9,Pena High School,Charter,962,585858
10,10,Wright High School,Charter,1800,1049400
11,11,Rodriguez High School,District,3999,2547363
12,12,Johnson High School,District,4761,3094650
13,13,Ford High School,District,2739,1763916
14,14,Thomas High School,Charter,1635,1043130

In [57]:

merge_table = pd.merge(df_students_renamed, df_schools_renamed, on="School Name", how="outer")

merge_table

,Student ID,name,gender,grade,School Name,reading_score,math_score,School ID,School Type,Total Students,Total School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [58]:
#groupbytlb = merge_table.groupby(['School Name'], sort= False).count()

In [59]:

bud = merge_table.groupby(['School Name'], sort= False).mean()

#bud


#ok = merge_table.groupby(['School Name'], sort= False)

#ok

In [60]:
school_sum = pd.DataFrame(bud, columns = ['School Type', 'Total Students', 'Total School Budget',
                                                 'Per Student Budget', 'Average Math Score', 'Average Reading Score',     
                                                 '% Passing Math', '% Passing Reading', 'Overall Passing Rate'])

# !!! MATH PASS
pass_mathx = df_students.loc[(df_students["math_score"] >= 70)]
pass_mathxx = pass_mathx[['school', 'math_score']]
pass_mathxx
pass_math = (pass_mathxx.groupby(['school'], sort= False).count())
pass_math_per = (pass_math['math_score']/school_sum['Total Students']) * 100
#print(pass_math_per)

#count_pass_math = pass_math["math_score"]
#print(count_pass_math.groupby(['school'], sort= False).count())
#pass_math_percent = (count_pass_math/total_students)*100
#print(pass_math_percent)

# !!! READING PASS
pass_readx = df_students.loc[(df_students["reading_score"] >= 70)]
pass_readxx = pass_readx[['school', 'reading_score']]
pass_read = (pass_readxx.groupby(['school'], sort= False).count())
pass_read_per = (pass_read['reading_score']/school_sum['Total Students']) * 100

#print(pass_read['reading_score'])

# !!! OVERALL
overall_per = (pass_math_per + pass_read_per)/2


#pass_read_per

#pass_readxx
#print(pass_readxx.groupby(['school'], sort= False).count())

#print(pass_math_percent)

#pass_readx = df_students.loc[(df_students["reading_score"] > 70)]
#print(pass_mathx.groupby(['school'], sort= False).count())

In [61]:
#school_sum['School Type'][2]

In [62]:
for x in range(0, len(school_sum['School Type'])):
    school_sum['School Type'].iloc[x] = df_schools_renamed['School Type'].iloc[x]

school_sum['Per Student Budget'] = school_sum['Total School Budget'] / school_sum['Total Students']

school_sum['Average Math Score'] = bud['math_score']

school_sum['Average Reading Score'] = bud['reading_score']


pass_math = df_students.loc[(df_students["math_score"] > 70)]
count_pass_math = pass_math["math_score"].count()


school_sum['% Passing Math'] = pass_math_per

school_sum['% Passing Reading'] = pass_read_per

school_sum['Overall Passing Rate'] = overall_per

print("School Summary")
school_sum

C:\Users\kaity\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

School Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520

In [63]:
top5 = school_sum.sort_values(by=['Overall Passing Rate'], ascending = False)

print("Top 5")
top5.head()

Top 5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [64]:
bottom5 = school_sum.sort_values(by=['Overall Passing Rate'], ascending = True)

print("Bottom 5")
bottom5.head()

Bottom 5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [65]:

#gb = merge_table.groupby(['School Name','grade'], sort= False).mean()
#gb

In [66]:
print("Grouped by grades for Math Score")


math_df = pd.pivot_table(merge_table, values=['math_score'], index=['School Name'],
                                        columns=['grade'])
math_df = math_df.reindex(labels=['9th',
                                 '10th',
                                 '11th',
                                  '12th'], axis=1, level=1)
math_df

Grouped by grades for Math Score

                      math_score
grade                        9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [67]:
print("Grouped by grades for Reading Score")

reading_df = pd.pivot_table(merge_table, values=['reading_score'], index=['School Name'],
                                        columns=['grade'])
reading_df = reading_df.reindex(labels=['9th',
                                        '10th',
                                        '11th',
                                        '12th'], axis=1, level=1)
reading_df

Grouped by grades for Reading Score

                      reading_score
grade                           9th       10th       11th       12th
School Name
Bailey High School        81.303155  80.907183  80.945643  80.912451
Cabrera High School       83.676136  84.253219  83.788382  84.287958
Figueroa High School      81.198598  81.408912  80.640339  81.384863
Ford High School          80.632653  81.262712  80.403642  80.662338
Griffin High School       83.369193  83.706897  84.288089  84.013699
Hernandez High School     80.866860  80.660147  81.396140  80.857143
Holden High School        83.677165  83.324561  83.815534  84.698795
Huang High School         81.290284  81.512386  81.417476  80.305983
Johnson High School       81.260714  80.773431  80.616027  81.227564
Pena High School          83.807273  83.612000  84.335938  84.591160
Rodriguez High School     80.993127  80.629808  80.864811  80.376426
Shelton High School       84.122642  83.441964  84.373786  82.781671
Thomas High School        83.728850  84.254157  83.585542  83.831361
Wilson High School        83.939778  84.021452  83.764608  84.317673
Wright High School        83.833333  83.812757  84.156322  84.073171

In [68]:

# Bins 
bins = [0, 585, 615, 645, 675]

# Create the names for the four bins
group_names = ['<585', '585-615', '616-645', '645-675']

budg = school_sum[['Per Student Budget', 'Total School Budget', '% Passing Math', '% Passing Reading', 'Average Math Score', 'Average Reading Score', 'Overall Passing Rate']]
#cutt = pd.cut(school_sum["Per Student Budget"], bins, labels=group_names)

#cutt = pd.cut(school_sum["Per Student Budget"], bins, labels=group_names)

print("By Spending")

budg["Spending"] = pd.cut(budg["Per Student Budget"], bins, labels=group_names)
budg

budg 
budg = budg.groupby("Spending")
budg.max()

By Spending

C:\Users\kaity\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Per Student Budget,Total School Budget,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate
Spending,,,,,,,
<585,583.0,1319574.0,94.133477,97.039828,83.803279,83.989488,95.586652
585-615,609.0,1056600.0,94.594595,95.945946,83.839917,84.044699,95.270270
616-645,644.0,3124928.0,93.392371,97.308869,83.418349,83.848930,95.290520
645-675,655.0,3094650.0,66.752967,81.316421,77.289752,81.182722,73.807983

In [69]:
# Bins 
bins = [0, 1000, 2000, 5000]

# Create the names for the four bins
group_names = ['<1000', '1000-2000', '2000-5000']

siz = school_sum[['Total Students', '% Passing Math', '% Passing Reading', 'Average Math Score', 'Average Reading Score', 'Overall Passing Rate']]


print("Size")

siz["Size"] = pd.cut(siz["Total Students"], bins, labels=group_names)
siz

siz
siz = siz.groupby("Size")
siz.max()

Size

C:\Users\kaity\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

,Total Students,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate
Size,,,,,,
<1000,962.0,94.594595,96.252927,83.839917,84.044699,95.270270
1000-2000,1858.0,94.133477,97.308869,83.682222,83.975780,95.586652
2000-5000,4976.0,93.867718,96.539641,83.274201,83.989488,95.203679

In [82]:
ty = school_sum[['School Type','% Passing Math', 
                 '% Passing Reading', 'Average Math Score', 
                 'Average Reading Score', 'Overall Passing Rate']]

ty = ty.groupby("School Type")
ty.max()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate
School Type,,,,,
Charter,94.594595,97.308869,83.839917,84.044699,95.586652
District,68.309602,81.933280,77.289752,81.182722,74.306672